@import "../../defaultStyles.module.scss";

// header styling
.LandingPageHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: none;
  align-items: center;
}
.headerLeftBrandName {
  display: flex;
  align-items: center;
}
.companyBrandLogo {
  background-image: url("../../assets/r.png");
  height: 50px;
  width: 50px;
  background-size: cover;
}
.LandingPageHeader h3 {
  font-weight: 900;
}
.headerRightButtons {
  margin-right: 2rem;
  display: flex;
  justify-content: space-around;
}
.headerRightButtons button {
  margin-right: 1rem;
}
.findJobsButton {
  padding: 0.6rem 2rem;
  background: rgb(208, 43, 141);
  background: linear-gradient(
    90deg,
    rgba(208, 43, 141, 1) 0%,
    rgba(245, 175, 25, 1) 100%
  );
  border: 1px solid rgb(208, 43, 141);

  border-radius: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.findJobsButton:hover {
  padding: 0.6rem 2rem;
  background: rgba(233, 68, 167, 0.947);
  background: linear-gradient(
    90deg,
    rgba(233, 68, 167, 0.947) 0%,
    rgba(245, 175, 25, 1) 100%
  );
  border: 1px solid rgb(208, 43, 141);

  border-radius: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.hireTalentButton {
  padding: 0.6rem 2rem;
  background: white;
  border: 1px solid rgb(208, 43, 141);
  border-radius: 30px;
  color: rgb(208, 43, 141);
  font-weight: 700;
  cursor: pointer;
}
.hireTalentButton:hover {
  padding: 0.6rem 2rem;
  background: rgba(245, 240, 240, 0.778);
  border: 1px solid rgb(208, 43, 141);
  border-radius: 30px;
  color: rgb(208, 43, 141);
  font-weight: 700;
  cursor: pointer;
}

// mainpage styling
.landinPageIntroCard {
  padding: 4rem 2rem;
  background: rgb(208, 43, 141);
  background: linear-gradient(
    90deg,
    rgba(208, 43, 141, 1) 0%,
    rgba(245, 175, 25, 1) 100%
  );

  display: flex;
  flex-flow: column;
  h3 {
    color: white;
    margin: 1rem 0;
    font-size: 2rem;
  }
  p {
    color: white;
    padding: 1rem;
    line-height: 150%;
  }
}
.mainIntroButtons {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  margin: 0;
}
.mainIntroButtons button {
  margin: 2rem 2rem;
}
.mainIntroButtons .findJobsButton {
  border: 1px solid white;
}
// paths
.paths {
  margin: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.usualPath {
  display: flex;
  flex-flow: column;
  h3 {
    margin: 2rem;
  }
  .img {
    width: 500px;
    height: 500px;
    background-image: url(../../assets/usual_path-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.rightPath {
  display: flex;
  flex-flow: column;
  h3 {
    margin: 2rem;
    color: rgb(208, 43, 141);
  }
  .img {
    width: 500px;
    height: 500px;
    background-image: url(../../assets/rightpath-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
